<div class="container py-5">

  <div class="rounded shadow p-5 d-flex">
    <img src="../assets/tasks.svg" alt="" width="250">
    <div>
      <h3 class="text-primary">  Bienvenidos a Tareas</h3>
      <h5 class="text-secondary"> Con esta aplicacion consultar tus tareeas</h5>

      <hr>
      <p>Esta aplicacion fue desarrollada con Spring Boot, Angular y Mongo BD</p>
    </div>

  </div>

    <div class="row mt-5"></div>
  <div class="row">
    <div class="col-md-6">
      <h3>Mi Lista de Tareas</h3>
      <div class="my-5"></div>
      <div  *ngFor="let tarea of tareas" class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="fw-bold" > {{ tarea.nombre }}</div>
              <div class="text-muted">
                <i class="fa fa-edit cursor-pointer" (click)="edit(tarea)" title="Editar Tarea"></i>
                <i class="fa fa-trash ms-2 cursor-pointer" (click)="delete(tarea)" title="Eliminar Tarea"></i>
            </div>
          </div>

          <div>
            <small class="text-success" *ngIf="tarea.completado; else noCompletado">
              <i class="fa fa-check-circle"></i> Completado
            </small>
            <ng-template #noCompletado>
              <small class="text-muted"><i class="fa fa-clock"></i> Pendiente </small>
            </ng-template>

          </div>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h3>{{ tarea.id ? 'Editar' : 'Nueva' }} Tarea</h3>
      <form  class="mt-5" (ngSubmit)="save()">
        <div class="mb-3 form-floating">
          <input type="text" id="nombre" placeholder="Nombre" name="nombre" class="form-control" [(ngModel)]="tarea.nombre">
          <label for="nombre">Nombre</label>
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" id="completado" placeholder="completado" name="completado" class="form-check-input"  [(ngModel)]="tarea.completado">
          <label for="completado" class="form-check-label">Completado</label>
        </div>

          <div class="text-end">
            <button class="btn btn-primary btn-lg">Guardar</button>
          </div>
      </form>
    </div>
  </div>
</div>
